
<ion-content>
  <div class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabss/profile" text="" icon="arrow-back" style="color:#146170 ;"></ion-back-button>
    </ion-buttons>
    <div>
      <img src="../../assets/job-exp.png" alt="logo" class="lg">
    </div>
    <div>
      <h3 class="bien">Modification</h3>
    </div>
    <p class="just">Veillez télécharger et renseigner tout les champs sur le document ci-dessous,
      si toute fois des Informations y ont changé.
    </p>
    <div>
      <button class="btn" style="background-color:#146170 ;">Upload dossier <ion-icon name="cloud-upload-outline"></ion-icon></button>
    </div>
    <h1 class="py-1"></h1>
    <div>
      <form>
          <div class="form-group group1">
              <input type="text" class="form-control" placeholder="Nom">
          </div>
          <div class="form-group group1">
              <input type="text" class="form-control" placeholder="Prenom">
          </div>
          <div class="form-group group1">
              <input type="text" class="form-control" placeholder="Adresse">
          </div>
          <div class="form-group group1">
            <input type="number" maxlength="2" class="form-control" placeholder="Age">
        </div>
        <div class="form-group group1">
          <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group group1">
        <input type="password" class="form-control" placeholder="Mot de passe">
    </div>
    <div class="form-group group1">
      <input type="text" class="form-control" placeholder="Profil">
  </div>
  <div class="row">
  <div col-6>
    <button class="btn" style="background-color:#146170 ;">Upload CV <ion-icon name="cloud-upload-outline"></ion-icon></button>
  </div>
  <div col-6 class="bt">
    <button class="btn" style="background-color:#146170 ;">Upload Dossier<ion-icon name="cloud-upload-outline"></ion-icon></button>
  </div>
  </div>
  <h1 class="py-1"></h1>
  <div class="bttt">
    <button type="submit"  class="btn" style="background-color:#146170 ;">Modifier</button>
  </div>
          <h1 class="py-3"></h1>
      </form>
  </div>
  </div>
  </ion-content>
  