.lg{
    position:20px;
    width: 60px;
    height: 55px;
    left: 17px;
    top: 40px;
    }
.bien{
    text-align: center;
    color: #146170;
    font-size: 30px;
    margin-top: -3%;
    line-height:45px;
  
}

.accueil{
    border-radius: 12px;
}

.post{
margin-top: 20px;
width: 93px;
height: 18px;
padding-left: 10px;
top: 415px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: flex-end;

color: #000000;
}



.test{
    margin-top: 4% !important;

}

.bt{
    width: 80px;
    height: 35px;
    background: #146170;
    border-radius: 20px;
    color: white;
    padding-right: 3px;
}

.testt{

    padding-left: 120px;
    transform: translate(0px, -10px);
}

h3{
    margin-top: 14px;
}