.lg{
    position:20px;
    width: 60px;
    height: 55px;
    left: 17px;
    top: 40px;
    margin-top: 15px;
    }
.bien{
    text-align: center;
    color: #146170;
    font-size: 30px;
    margin-top: -20px;
}

.prof{
width: 139px;
height: 128px;
left: calc(50% - 139px/2 + 0.5px);
top: 142px;
border-radius: 150px;
}

.col-12{
box-sizing: border-box;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.22);
border-radius: 12px;
width:95%;
margin-top: 4%;
}
b{
    padding-left: 3%;
   
}


.btn{

    width: 154px;
    height: 40px;
    color:white;
    
    }

    .bt{
        padding-left: 51%;
        margin-top: -10.5%;
    }

    .bie{
        text-align: center;
        padding-left: 20%;
        color: #146170;
    }