.lg{
    position:20px;
    width: 60px;
    height: 55px;
    left: 17px;
    top: 40px;
    }
.bien{
    text-align: center;
    color: #146170;
    font-size: 30px;
    margin-top: -3%;
    line-height:45px;
  
}


.just{

    text-align: justify;
}

.btn{

width: 154px;
height: 40px;
color:white;

}

.group1 {
    height: 70px;
}

.bt{
    padding-left: 50%;
    margin-top: -10.5%;
}

.bttt{
    padding-left: 25%;
}

