
<ion-content>
  <div class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs2/detail-annonce-recruteur" text="" icon="arrow-back" style="color:#146170 ;"></ion-back-button>
    </ion-buttons>
    <div>
      <img src="../../assets/job-exp.png" alt="logo" class="lg">
    </div>
    <div>
      <h3 class="bien">Modifier une Annonce</h3>
    </div>
    <p class="just">Veillez télécharger et renseigner tout les champs sur le document ci-dessous.
      Si toute fois il y'a des changements.
    </p>
    <div>
      <button class="btn" style="background-color:#146170 ;">Upload dossier <ion-icon name="cloud-upload-outline"></ion-icon></button>
    </div>
    <h1 class="py-1"></h1>
    <div>
      <form>
          <div class="form-group group1">
              <input type="text" class="form-control" placeholder="Nom du poste">
          </div>
          <div class="form-group group1">
              <input type="text" class="form-control" placeholder="type de contrat">
          </div>
          <div class="form-group group1">
              <input type="number" maxlength="2" class="form-control" placeholder="Année d'experience">
          </div>
          <div class="form-group group1">
            <input type="text"  class="form-control" placeholder="Lieu">
        </div>
        <div class="form-group group1">
          <input type="date" class="form-control" placeholder="Date debut">
      </div>
      <div class="form-group group1">
        <input type="date" class="form-control" placeholder="Date fin">
    </div>
    <div class="form-group group1">
      <textarea class="form-control" style="height: 150px;" placeholder="Description">
      </textarea>
  </div>
  <h1 class="py-5"></h1>
  <div class="row">
  <div col-6>
    <button class="btn" style="background-color:#146170 ;">Upload image <ion-icon name="cloud-upload-outline"></ion-icon></button>
  </div>
  <div col-6 class="bt">
    <button class="btn" style="background-color:#146170 ;">Upload Dossier<ion-icon name="cloud-upload-outline"></ion-icon></button>
  </div>
  </div>
  <h1 class="py-1"></h1>
  <div class="bttt">
    <button type="submit"  class="btn" style="background-color:#146170 ;">Modifier</button>
  </div>
      </form>
  </div>
  <h1 class="py-2"></h1>
  </div>
  </ion-content>
  