<ion-tabs class="tab">

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" class="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  class="tab2">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  class="tab3">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
    <span style="width: 0.5px;"></span>
    <ion-tab-button tab="profile"  class="tab4">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
