.tab1{
    background-color:#146170;
    color: aliceblue;
    border-radius: 25px 0px 0px 0px;
}
.tab2{
    background-color:#146170;
    color: aliceblue;
   
}.tab3{
    background-color:#146170;
    color: aliceblue;
}
.tab4{
    background-color:#146170;
    color: aliceblue;
    border-radius: 0px 25px 0px 0px;
}

