
<ion-content>
  <div class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs2/recruteur" text="" icon="arrow-back" style="color:#146170 ;"></ion-back-button>
    </ion-buttons>
    <div>
      <img src="../../assets/job-exp.png" alt="logo" class="lg">
    </div>
    <div>
      <h3 class="bien">Ajouter une Annonce</h3>
    </div>
    <p class="just">Veillez télécharger et renseigner tout les champs sur le document ci-dessous.
    </p>
    <div>
      <a class="btn" style="background-color:#146170 ;" 
      href="{{alldossier?.adossier}}" download="">Upload dossier <ion-icon name="cloud-upload-outline"></ion-icon></a>
    </div>
    <h1 class="py-1"></h1>
    <div>
      <form (ngSubmit)="add()">
          <div class="form-group group1">
              <input type="text" class="form-control" name="nomposte" [(ngModel)]="nomposte" placeholder="Nom du poste">
          </div>
          <div class="form-group group1">
              <input type="text" class="form-control" name="typecontrat" [(ngModel)]="typecontrat"  placeholder="type de contrat">
          </div>
          <div class="form-group group1">
            <input type="text" class="form-control" name="profil" [(ngModel)]="profil"  placeholder="Profil">
        </div>
          <div class="form-group group1">
              <input type="number" maxlength="2" class="form-control" name="experience" [(ngModel)]="experience"  placeholder="Année d'experience">
          </div>
          <div class="form-group group1">
            <input type="text"  class="form-control" name="lieu" [(ngModel)]="lieu"  placeholder="Lieu">
        </div>
        <div class="form-group group1">
          <input type="date" class="form-control" name="datedebut" [(ngModel)]="datedebut"  placeholder="Date debut">
      </div>
      <div class="form-group group1">
        <input type="date" class="form-control" name="datefin" [(ngModel)]="datefin"  placeholder="Date fin">
    </div>
    <div class="form-group group1">
      <textarea class="form-control" style="height: 150px;"  name="descriptionannonce" [(ngModel)]="descriptionannonce" placeholder="Description">
      </textarea>
  </div>
  <h1 class="py-5"></h1>
  <div class="row">
    <div class="form-group group1">
      <label for="">Photo:</label>
      <input type="file"  class="form-control" name="photo" [(ngModel)]="photo" 
      (change)="selectFile($event)">
  </div>
  <div class="form-group group1">
    <label for="">Dossier:</label>
    <input type="file"  class="form-control" name="dossierannonce" [(ngModel)]="dossierannonce"
    (change)="selectdoc($event)">
</div>
  </div>
  <h1 class="py-1"></h1>
  <div class="bttt">
    <button type="submit"  class="btn" style="background-color:#146170 ;">Ajouter</button>
  </div>
          <h1 class="py-2"></h1>
      </form>
  </div>
  </div>
  </ion-content>
  