<ion-content>
  <div class="container">
    <div>
      <img src="../../assets/job-exp.png" alt="logo" class="lg">
    </div>
    <div>
      <h4 class="bien">Bienvenue sur job-anpe!</h4>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img src="../../assets/accueil.gif" alt="marche du travail">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center ajj">
          <div class="code">
            <div class="cd">
              <span class="h3 text-white dif" routerLink="/auth2">Je suis un recruteur </span>
            </div>
            <div class="cd"><span class="h3 text-white "><ion-icon name="briefcase-outline"
                  style="font-size:40px;"></ion-icon></span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center ajj">
          <div class="code">
            <div class="cd">
              <span class="h3 text-white" routerLink="/authentification">Je suis un demandeur </span>
            </div>
            <div class="cd">
              <span class="h3 text-white">
                <ion-icon name="people-outline" style="font-size:40px;">
                </ion-icon>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>