.lg{
    position:20px;
    width: 60px;
    height: 55px;
    left: 17px;
    top: 40px;
    }
.bien{
    text-align: center;
    color: #146170;
    font-size: 30px;
    //margin-top: -10px;
}

img{
    border-radius: 20px;
    height: 177px;
    width: 300px;
}

.ajj{
//position: absolute;
width: 350px;
height: 70px;
margin-top: 25px;
background: linear-gradient(103.77deg, #146170 27.21%, rgba(1, 24, 29, 0.87) 118.17%);
border-radius: 16px;
}

ion-icon{
    padding-left: 25px;
    size: 60%;
   
}

h3{
    font-size: 25px;
    color: white;    
}
.dif{
    padding-left: 35px;

}

hr{
    background-color: gray;
     height: 2px; 
     max-width: 190px;
     margin: 40px auto;
    }

.code{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }
  .cd{
    // display: flex;
    // justify-content: center;
    margin-top: 10px;
  }